### Q.1: wap whether tha given list of no. is lucky,a lucky list contains at least one number is divided by 7

In [58]:
l=[12,13,50,7,21]
for i in l:
    if (i%7==0):
        print("tha given number is lucky")
        break
else:
        print("tha given number is not lucky")

tha given number is lucky

### Q.2: wap to sum of all numbers from 1 to given number.

In [17]:
num=int(input("enter tha number"))
i=1
sum=0
while(i<=num):
    sum=sum+i
    i=i+1
print(sum)

enter tha number5
15

### Q.3: wap to check whether tha given number is armstrong or not.

In [1]:
x=int(input("enter tha number"))
sum=0
temp=x
while(x!=0):
    r=x%10
    x=x//10
    sum=sum+r*r*r
print(sum) 
if temp==sum:
   print("armstrong number")  
else:
   print("not armstrong")

enter tha number125
134
not armstrong

### 4: wap to print tha following using while loop.

### first 10 even number

In [25]:
x=0
while x<20:
    x+=2
    print(x)

2
4
6
8
10
12
14
16
18
20

### first 10 odd number

In [18]:
x=1
while x<=20:
    print(x)
    x+=2

1
3
5
7
9
11
13
15
17
19

### first 10 natural number

In [37]:
x=0
while x<10:
    x+=1
    print(x)

1
2
3
4
5
6
7
8
9
10

### first 10 whole number

In [44]:
x=-1
while x<10:
   x=x+1
   print(x)

0
1
2
3
4
5
6
7
8
9
10

### Q.5: wap to print first 10 integer and their square using while loop 11 24  39  and so on

In [3]:
x=0
while x<10:
    x+=1
    s=x*x
    print(x, "=",s)

1 = 1
2 = 4
3 = 9
4 = 16
5 = 25
6 = 36
7 = 49
8 = 64
9 = 81
10 = 100

### Q.6: wap for loop statement to print tha following series  10 20 30  to 300

In [5]:
x=10
for i in range(10,40):
        print(x)
        x+=10

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300

 ### Q.7: write a while loop statement to print tha following series 105 98  91 to 7

In [6]:
x=105
while x>=7:
    print(x)
    x-=7

105
98
91
84
77
70
63
56
49
42
35
28
21
14
7

### Q.8: wap to enter tha numbers till tha user wants and at tha end it should display tha sum of all tha numbers entered.

In [4]:
sum=0
while(1):
   num=int(input("enter tha number"))
   sum=sum+num
   choice=input("you wish to enter tha number more press 1 :yes and 0 for no")        
   if choice=="1":
         continue
   elif choice=="0":
         break
   else:
         print("invalid choise")
         break
print(sum)

enter tha number5
you wish to enter tha number more press 1 :yes and 0 for no1
enter tha number2
you wish to enter tha number more press 1 :yes and 0 for nono
invalid choise
7

### Q.9: wap to enter tha numbers till tha user enter zero and at tha end it should display tha count and sum of positive or nagetive numbers entered.

In [23]:
list=[]
sum=0
while(1):
    num=int(input("enter a number"))
    list.append(num)
    if num!=0:
        sum=sum+sum
    else:
        break
print(list) 
print(sum)
pos=0
neg=0
for i in list:
    if num>=0:
        pos+=1
    else:
        neg+=1
print("positive number in tha list are :",pos )
print("negative number in tha list are :",neg )

enter a number1
enter a number4
enter a number6
enter a number7
enter a number0
[1, 4, 6, 7, 0]
0
positive number in tha list are : 5
negative number in tha list are : 0

### Q.10: wap to display all tha number which are divisble by 13 but not by 3 between 100 and 500 (exclusive both numbers)

In [8]:
for i in range(100,500):
    if i%13==0:
        if i%3!=0:
            print(i)

104
130
143
169
182
208
221
247
260
286
299
325
338
364
377
403
416
442
455
481
494

### Q.11: wap to accept 10 number from tha user and display tha largest and smallest number.

In [10]:
inputlist=[]
for i in range(10):
    inputlist.append(input("enter a number"))
max=inputlist[0]  
min=inputlist[0]
for i in inputlist:
    if i>max:
        max=i
    elif i<max:
        min=1
    else:
        print()
print("largest number is ",max)
print("smallest number is ",min)

enter a number1
enter a number3
enter a number2
enter a number4
enter a number6
enter a number8
enter a number7
enter a number9
enter a number5
enter a number12

largest number is  9
smallest number is  1

### Q.12: wap to print tha following series till n term, 1 4 9 16 25 36  to n terms.

In [22]:
n=1
for i in range(1,10):
    j=i*i
    print(j)

1
4
9
16
25
36
49
64
81

### 13:  wap to take username and password form user and save it and then allow tha user to sign if he/she is authenticate user then sign happens also no. and give 5 attempts after 5 attempts if he does not give right crenditials. then display tried next time.

In [3]:
username=input("enter your username")
password=input("enter your password")
print()
print("to sign in please enter your username and password ")
count=0
while count<5:
    x=input("enter tha username")
    y=input("enter tha password")
    if x==username and y==password:
        print("access granted")
        break
    else:
        print("please try again")
        count+=1
        if count==5:
            print("you have entered wrong input too many times")

enter your usernamehema dixitt
enter your passwordhemaa@08

to sign in please enter your username and password
enter tha usernamehemaa dixitt
enter tha passwordhemaa@08
please try again
enter tha usernamehema dixitt
enter tha passwordhemaa@08
access granted

### 14: wap which wil find all such numbers which are divisble by 7 but are not a multiple of 5, between 2000 and 3200 (both included). tha numbers obtained should be printed in a comma separated on a single line.

In [11]:
lower=2000
upper=3200
for i in range(lower,upper+1):
    if i%7==0:
        if i*5!=0:
            print(i,end=",")

2002,2009,2016,2023,2030,2037,2044,2051,2058,2065,2072,2079,2086,2093,2100,2107,2114,2121,2128,2135,2142,2149,2156,2163,2170,2177,2184,2191,2198,2205,2212,2219,2226,2233,2240,2247,2254,2261,2268,2275,2282,2289,2296,2303,2310,2317,2324,2331,2338,2345,2352,2359,2366,2373,2380,2387,2394,2401,2408,2415,2422,2429,2436,2443,2450,2457,2464,2471,2478,2485,2492,2499,2506,2513,2520,2527,2534,2541,2548,2555,2562,2569,2576,2583,2590,2597,2604,2611,2618,2625,2632,2639,2646,2653,2660,2667,2674,2681,2688,2695,2702,2709,2716,2723,2730,2737,2744,2751,2758,2765,2772,2779,2786,2793,2800,2807,2814,2821,2828,2835,2842,2849,2856,2863,2870,2877,2884,2891,2898,2905,2912,2919,2926,2933,2940,2947,2954,2961,2968,2975,2982,2989,2996,3003,3010,3017,3024,3031,3038,3045,3052,3059,3066,3073,3080,3087,3094,3101,3108,3115,3122,3129,3136,3143,3150,3157,3164,3171,3178,3185,3192,3199,

### Q15:wap which accepts  a squence of comma separated 4 digit binary number as its input and tn check whether they are divisble by 5 or not. Tha number that are divisble by 5 are to be printed in a comma seprated sequence.

In [14]:
l1 =[1000,1011,1010,1001]
for i in l1:
    if i%5 == 0:
        print(i,end=",")

1000,1010,

### 16: wap which will find all such numbers between 1000 and 3000(both included) such that each digit of tha number is an even number.

In [4]:
for i in range(100,3000):
    count=0
    i=str(i)
    for ch in i:
        ch=int(ch)
        if ch%2==0:
            count=count+1
    if count==4:        
        print(i)

2000
2002
2004
2006
2008
2020
2022
2024
2026
2028
2040
2042
2044
2046
2048
2060
2062
2064
2066
2068
2080
2082
2084
2086
2088
2200
2202
2204
2206
2208
2220
2222
2224
2226
2228
2240
2242
2244
2246
2248
2260
2262
2264
2266
2268
2280
2282
2284
2286
2288
2400
2402
2404
2406
2408
2420
2422
2424
2426
2428
2440
2442
2444
2446
2448
2460
2462
2464
2466
2468
2480
2482
2484
2486
2488
2600
2602
2604
2606
2608
2620
2622
2624
2626
2628
2640
2642
2644
2646
2648
2660
2662
2664
2666
2668
2680
2682
2684
2686
2688
2800
2802
2804
2806
2808
2820
2822
2824
2826
2828
2840
2842
2844
2846
2848
2860
2862
2864
2866
2868
2880
2882
2884
2886
2888

:consider you have own restrurant :three item choices is there:
1:pizza
2:burger
3:hotdog
toppings available for pizza:paneer,musrooms and capicum
filling avilable for burgur and hotdog is single layer cheeze and double layer cheese and side order menu is softdrinks

### Q.17: wap to calculate tha cost of item which user ordered based on tha menu of restrurant

In [2]:
print("Welcome to hello pizza ")
print("Please order Your Desired Items from Options Below: ")
print("1. Pizza , price is : 200 ")
print("2. Burger , price is : 150 ")
print("3. Fries , price is : 100")
pizza = 1
burgers = 2
fries = 3
choice = int(input("Press 1 For Pizza , 2 for Burgers And 3 For Fries: "))
price = 0
if choice == 1:
    print("Which Toppings Would You Prefer: ")
    print("1. paneer , 60 rs")
    print("2. mushroom, 40 rs ")
    print("3. capsicum, 35 rs ")
    paneer = 1
    mushrooms = 2
    capsicum = 3
    topping = int(input("Enter your Choice :"))
    if topping == 1:
        print("Paneer pizza will Cost You :")
        price = 200 + 60
        print(price)
    elif topping == 2:
        print("Mushroom Pizza Will Cost You :")
        price = 200 + 50
        print(price)
    elif topping == 3:
        print("Capsicum Pizza Will Cost You :")
        price = 200 + 25
        print(price)
    else:
        print("Invalid Choice")
elif choice == 2:
    print("Would You Like to Add Some Extra Cheese : ")
    yes = 1
    no = 2
    choice1 = int(input("Press 1 for Yes and 2 for No"))
    if choice1 == 1:
        print("Which Choice Would You Prefer : ")
        print("1. Single Layer Cheese")
        print("2. Double Layer Cheese")
        singlelayercheese = 1
        doublelayercheese = 2
        choice2 = int(input("Enter Your Choice : "))
        if choice2 == 1:
            print("Single Layer Cheese Will Cost You: ")
            price = 150 + 30
            print(price)
        elif choice2 == 2:
            print("Double layer Cheese Will Cost You: ")
            price = 150 + 60
            print(price)
        else:
            print("Invalid Choice !!")
elif choice == 3:
    print("Fries Will Cost You: ")
    price = 100
    print(price)
else:
    print("Enter Valid Choice !!")
choice3=int(input("Would You Like to Add Soft Drinks Or Not Press 1 for Yes 2 For No : "))
yes = 1
no = 2
if choice3 == 1:
    print("Soft Drinks Will be :")
    print(85)
    print("Final Price Will be :")
    price1 = (price + 85)
    print(price1)
elif choice3 ==2:
    print(price)
else:
    print("Invalid Choice")

Welcome to hello pizza
Please order Your Desired Items from Options Below:
1. Pizza , price is : 200
2. Burger , price is : 150
3. Fries , price is : 100
Press 1 For Pizza , 2 for Burgers And 3 For Fries: 1
Which Toppings Would You Prefer:
1. paneer , 60 rs
2. mushroom, 40 rs
3. capsicum, 35 rs
Enter your Choice :1
Paneer pizza will Cost You :
260
Would You Like to Add Soft Drinks Or Not Press 1 for Yes 2 For No : 1
Soft Drinks Will be :
85
Final Price Will be :
345

In [3]:
r=5
for x in range(r):
        print(' '*(r-x-1)+'*'*(2*x+1))

    *
   ***
  *****
 *******
*********